header {
	background-color: rgba(153, 146, 145, 0.4); 
	border: 2px solid black;
	text-align: center; 
}
body {
	padding-left: 20%; padding-right: 20%;
}
fieldset{
	
	background-image: url("/images/form.png");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: center;

	background-color: rgba(212, 202, 200, 0.2); }
footer  {
	background-color:rgba(118, 158, 211, 0.5); 
	 color: rgb(60,60,60); border: 2px solid black;
	 text-align: center;
	}
/*
	original coder: azmeera-qureshi
	modifications by hadibuxm
	email: 18cs03@quest.edu.pk
*/