body{
    padding-top: 50px;
}
#profile-pic{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    
}/*
@keyframes profileanimate{
    from{
        border-radius: 0%;
    }
    to{
        border-radius: 50%;
    }
}*/
/*
.test{
    height: auto;
    margin: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,black 40%,black 60%),url(../images/bg.jpg);
    background-blend-mode:screen;
}*/
/*ABOUT PARAGRAPH*/
#bio{
    line-height: 45px;
    color: rgb(231, 81, 21);
    text-align: justify;
    animation-name: bioanimation;
    animation-duration: 2.8s;
    animation-timing-function: ease-in-out;
}
@keyframes bioanimation{
    from{
    visibility: hidden;
    color: white;
    }
    to{
        color: rgb(231, 81, 21);
    }
}
.skill-border{
    border-bottom: 2.5px solid rgb(231, 81, 21);
    border-right: 2px solid rgb(231, 81, 21);
}
.academic-border{
    border-left: 2.5px solid rgb(231, 81, 21);
    border-bottom: 2.5px solid rgb(231, 81, 21);
}
/*ACADEMICS SECTION*/
#academic-image{
    width:300px ;
    height: 300px;
}
body span{
    font-size: 15px;
}
/*HOVER LINK*/
.nav-link:hover{
    border-bottom: 2.5px solid rgb(231, 81, 21);
    font-size: 20px
}
/*FOOTER*/
#foot{
    color: rgb(231, 81, 21);font-size: 40px;
}
