body{
    padding-top: 50px; 
    background-color: black !important;
}

#profile-pic{
    width: 340px;
    height: 340px;
    border-radius: 50%;
    
}/*
@keyframes profileanimate{
    from{
        border-radius: 0%;
    }
    to{
        border-radius: 50%;
    }
}*/
/*
.test{
    height: auto;
    margin: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,black 40%,black 60%),url(../images/bg.jpg);
    background-blend-mode:screen;
}*/
/*ABOUT PARAGRAPH*/
#about{
    margin-top:80px;
    text-align: justify;
    color: rgb(28, 177, 223);
    font-family: 'Kaushan Script';
    font-size: 25px;
    line-height: 40px;
}
#bio{
    line-height: 40px;
    color: rgb(255, 255, 255);
    text-align: justify;
    /*background-color: rgb(120, 11, 163);
    border: 8px rgb(109, 10, 148) solid;
    border-radius: 20px;*/
    font-family: 'Dancing Script' !important;
    font-size: 24px;
    animation-name: bioanimation;
    animation-duration: 2.8s;
    animation-timing-function: ease-in-out;
    word-spacing: 2px;
}
#pbio{
    line-height: 40px;
    color: rgb(241, 102, 22);
    text-align: justify;
    /*background-color: rgb(120, 11, 163);
    border: 8px rgb(109, 10, 148) solid;
    border-radius: 20px;*/
    font-family: 'Telex' !important;
    animation-name: bioanimation;
    animation-duration: 2.8s;
    animation-timing-function: ease-in-out;
    word-spacing: 2px;
}
@keyframes bioanimation{
    from{
    visibility: hidden;
    color: white;
    }
    to{
        color: rgb(231, 81, 21);
    }
}
#reader-heading{
    font-family:'Sofia';
    color: rgb(28, 177, 223);
    font-style: italic;
}
#p-heading{
    color: rgb(28, 177, 223);
}
.skill-border{
    border-bottom: 2.5px solid rgb(231, 81, 21);
    border-right: 2px solid rgb(231, 81, 21);
}
.academic-border{
    border-left: 2.5px solid rgb(231, 81, 21);
    border-bottom: 2.5px solid rgb(231, 81, 21);
}
#responsive{
    max-width: 100%;
    height: auto;
}
.navbar-brand{
    font-family: 'Sofia';
    font-style: italic;
}
  #text{
      line-height: 30px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 70px;
    left: 10px;
  }
  
 
/*ACADEMICS SECTION*/
#academic-image{
    width:300px ;
    height: 300px;
}
body span{
    font-size: 15px;
}
/*HOVER LINK*/
.nav-link:hover{
    border-bottom: 2.5px solid rgb(231, 235, 221);
    font-size: 20px;
}
.nav-link{
    color: rgb(28, 177, 223) !important;
}
/*
.nav .nav-item {
    color: rgb(50, 171, 219);
}*/
/*FOOTER*/
#foot{
    color: rgb(231, 81, 21);font-size: 40px;
}
