/* Style the navigation bar */

.stk {
    position: relative;
}

nav {
    position: sticky;
    top: 0;
}

nav div {
    margin: 0px;
}

@media screen and (max-width: 800px) {
    header p {
        display: none;
    }
    header h1 {
        font-size: 10vw;
    }
    .nav1 {
        display: none;
    }
    .icon-bar1 {
        margin: 0px;
        width: 100%;
        /* Full-width */
        background-color: rgba(11, 166, 230, 1);
        height: 53px;
    }
    .icon-bar1 a {
        float: left;
        /* Float links side by side */
        width: 25%;
        /* Equal width (4 icons with 20% width each = 100%) */
        text-align: center;
        /* Center-align text */
        padding: 0%;
        padding-top: 5px;
        color: white;
        /* White text color */
        font-size: 25px;
        /* Increased font size */
        margin: 0px;
    }
    .icon-bar1 a:hover {
        background-color: white;
        height: 53px;
        color: rgba(11, 166, 230, 1);
    }
    /* Current/active navbar link */
    .active {
        background-color: #000;
    }
    .imag {
        margin-right: 0px;
        margin-left: 2%;
    }
    .font p {
        font-size: 60%;
        text-align: center;
        margin: 0px 0px;
        font-family: sans-serif;
    }
}

@media screen and (min-width: 800px) {
    header p {
        font-size: 1vw;
    }
    header h1 {
        font-size: 8vw;
    }
    .nav2 {
        display: none;
    }
    .navbar {
        width: 100%;
        background-color: rgba(11, 166, 230, 1);
        height: 50px;
        margin-top: 10px;
    }
    /* Navbar links */
    .navbar a {
        float: left;
        text-align: center;
        padding: 0.181%;
        color: white;
        text-decoration: none;
        font-size: 130%;
        margin-top: -0.6%;
    }
    /* Navbar links on mouse-over */
    .navbar a:hover {
        background-color: white;
        height: 40px;
        color: rgba(11, 166, 230, 1);
    }
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixel
/* Style the footer */

footer {
    background-color: rgba(11, 166, 230, 1);
}

.row a:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .display-31 {
        font-size: 12px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 0px;
        text-decoration: none;
    }
    .footimage {
        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;
        margin-bottom: 20px;
        float: left;
    }
    .bottom {
        text-align: center;
        font-size: 15px;
        margin-bottom: 0px;
        color: white
    }
    .display-4 {
        text-align: center;
        font-size: 25px;
        padding-bottom: 10px;
        color: white;
        border-bottom: 4px solid white;
    }
    .display-41 {
        font-size: 20px;
        padding-bottom: 10px;
        color: white;
    }
    .display-3 {
        font-size: 12px;
        padding-bottom: 12px;
        color: white;
        margin-bottom: 0px;
    }
    .contactimage {
        max-width: 20px;
        max-height: 20px;
        float: left;
        margin-top: px;
        margin-right: 4px;
    }
    .show {
        font-size: 17px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 800px) {
    .show {
        font-size: 25px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 0px;
    }
    .display-31 {
        font-size: 20px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 0px;
        text-decoration: none;
    }
    .footimage {
        max-width: 30px;
        max-height: 30px;
        margin-right: 5px;
        margin-bottom: 20px;
        float: left;
    }
    .bottom {
        text-align: center;
        font-size: 25px;
        margin-bottom: 0px;
        color: white
    }
    .display-4 {
        text-align: center;
        font-size: 30px;
        padding-bottom: 10px;
        color: white;
        border-bottom: 4px solid white;
    }
    .display-41 {
        font-size: 25px;
        padding-bottom: 10px;
        color: white;
    }
    .display-3 {
        font-size: 18px;
        padding-bottom: 10px;
        color: white;
        margin-bottom: 0px;
    }
    .contactimage {
        max-width: 25px;
        max-height: 25px;
        float: left;
        margin-right: 5px;
        margin-top: 1px;
    }
}